body {
    margin: auto;
    padding: 50px;
    font-family: "Quicksand";
    margin:0px;
    padding:0px;
    width:100%;
    
   
  }

#header {
  
  color: white;

}  

select {
  padding:11px;
  width:25%;
  margin-bottom: 15px;

}


#header-products {
  padding-top: 20px;
  padding-bottom: 20px;

}


#save-button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 35px;
  margin-bottom: 20px;
  display: inline-block;
 
  
}


#hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.pinimg.com/originals/25/09/2a/25092adf72f3feb759bbd871948cd6b4.jpg");

  /* Set a specific height */
  padding-top:190px;
  padding-bottom:190px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


  
  .picker {
    position: relative;
    padding-left: 30px;
    padding-top: 30px;
    
   
  }
  
  .swatch {
    width: 28px;
    height: 28px;
    border-radius: 8px;
    border: 3px solid #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .popover {
    position: relative;
    margin:0;
    width: 10%;
    height: 10%;
    top: calc(100% + 2px);
    left: 0;
    border-radius: 9px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

 label, input {
  
  padding:11px;
  margin: auto;
  width: 55%;
  text-align: center;
 }

input{
  margin-top: 20px;
  margin-bottom: 20px;
}
.field > input {
  width: 50%;
  text-align: center;
 
  
  
  

}
.field{
  float: left;
  width: 50%;
  margin: 0;
  column-gap: 0;
  column-gap: normal;
}
.colorPicker{
  width: 100%;
  margin: auto;
  padding: 0;
  margin-top: 50px;
}
 